<form #addPetForm = "ngForm" (ngSubmit) = "createPet()">
    <input type = "text" name = "name"  placeholder = "Nombre mascota" [(ngModel)] = "pet.name" />
    <br/>
    <input type = "text" name = "race"  placeholder = "Raza mascota" [(ngModel)] = "pet.race" />
    <br/>
    <input type = "number" name = "age"  placeholder = "Edad mascota" [(ngModel)] = "pet.age" />
    <br/>
    <button type = "submit" > Agregar Mascota</button>
</form>


<table>
    <thead>
    <th>ID</th>
    <th>Raza</th>
    <th>Nombre</th>
    <th>Edad</th>
    <th>notas</th>
    <th>Creado por</th>
    <th>Fecha creación</th>
    <th>Estado</th>
    </thead>
    <tbody>
    <tr *ngFor="let pet of pets">
         <td>{{pet.uuId}}</td>
         <td>{{pet.race}}</td>
         <td>{{pet.name}}</td>
         <td>{{pet.age}}</td>
      <td>
          <ul>
              <li *ngFor="let note of pet.notes">{{note.note}} </li>
          </ul>
      </td>
         <td>{{pet.notes}}</td>
         <td>{{pet.createdBy}}</td>
         <td>{{pet.createdAt * 1000 | date: 'dd-MMM-yy h:mm:ss a ' }}</td>
         <td>{{pet.status}}</td>
    </tr>
    </tbody>
   </table>