<form #addOwnerForm = "ngForm" (ngSubmit) = "createOwner()">
    <input type = "text" name = "name"  placeholder = "Nombre Dueño" [(ngModel)] = "owner.name" />
    <br/>
    <input type = "text" name = "lastname"  placeholder = "Apellido dueño" [(ngModel)] = "owner.lastname" />
    <br/>
    <button type = "submit" > Agregar Dueño</button>
</form>


<table>
    <thead>
    <th>Id</th> 
    <th>DPI</th>
    <th>Nombre</th>
    <th>Apellido</th>
    <th>Creado por</th>
    <th>Fecha creación</th>
    <th>Estado</th>
    </thead>
    <tbody>
    <tr *ngFor="let owner of owners">
         <td>{{owner.uuId}}</td>
         <td>{{owner.dpi}}</td>
         <td>{{owner.name}}</td>
         <td>{{owner.lastname}}</td>       
         <td>{{owner.createdBy}}</td>
         <td>{{owner.createdAt * 1000 | date: 'dd-MMM-yy h:mm:ss a ' }}</td>
         <td>{{owner.status}}</td>
    </tr>
    </tbody>
   </table>
